<header th:fragment = "navigation-header">
  <span id="mobile-user">
      <div style="background-color: #1a1d24; width: 100vw; height: 7.4rem"></div>
      <div class="hamburger">
          <i class="fas fa-bars"></i>
      </div>
      <nav class="nav">
          <ul class="nav-list">
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <span><i class="fas fa-home"></i></span> Home
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link current" href="#">
                      <span><i class="fas fa-register"></i></span> Register
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <span><i class="fas fa-login"></i></span> Login
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <span><i class="fas fa-logout"></i></span> Logout
                  </a>
              </li>
          </ul>
      </nav>
  </span>

  <span id="desktop-user">
                    <nav class="navbar container">
                        <a th:href="@{/}" class="nav-link">AutoDeluxe</a>
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a th:href="@{/}" class="nav-link">Home</a>
                            </li>

                            <th:block th:if = "${@loggedUser.isNotLoggedIn()}">
                                <li class="nav-item">
                                    <a th:href="@{/auth/register}" class="nav-link">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/auth/login}" class="nav-link">Login</a>
                                </li>
                            </th:block>

                            <th:block th:if = "${@loggedUser.isLoggedIn()}"></th:block>

                            <li class="nav-item dropdown">
                                    <a class = "dropdown-header nav-link" th:value = "${@loggedUser.username}"></a>
                                    <i class="fa-solid fa-caret-down dropdown-icon"></i>
                                <ul class = "dropdown-menu">
                                    <li class = "dropdown-item">
                                        <a href="#" class = "nav-link"> Account</a>
                                    </li>

                                    <li>
                                        <a href="#" class = "nav-link">Settings</a>
                                    </li>

                                    <li>
                                        <a href="#" class = "nav-link">Logout</a>
                                    </li>
                                </ul>
                            </li>
                            <div class="active"></div>
                        </ul>
                    </nav>
                </span>
</header>