<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />

    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <meta charset="UTF-8">
    <title>Add Car</title>

    <!--  This span is filled with <link> tags for css files!  -->
    <span>
        <!--  This span contains the css files for the navigation /desktop and mobile/  -->
            <span id="navigation-css"></span>
            <link rel="stylesheet" href="/css/styles/style.css">
            <link rel="stylesheet" href="/css/styles/desktop-pages-with-form-style.css">
        </span>

    <!--  This span is filled with <script> tags for JavaScript files!  -->
    <span>
            <script src="/js/scripts/navigation-script.js" type="module"></script>
            <script src="/js/scripts/form-page-script.js" type="module"></script>
        </span>

</head>
<body>

<div id="body-background">
</div>

<span th:include = "~{fragments/navbar}"></span>

<div id="desktop-main-page" class="main-page-div">
    <div class="register-form-container">
        <form th:action = "@{/car/add}" th:method="POST" th:object="${addCarModel}" enctype="multipart/form-data">
            <div class="form-header">
                <h2>Add Car</h2>
            </div>

            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Make" name="make" id='make' th:value="*{make}"/>
                <label for="make" class="form__label">Make</label>
            </div>
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="model" name="model" id='model' th:value="*{model}"/>
                <label for="model" class="form__label">Model</label>
            </div>
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Series" name="series" id='series'
                       th:value = "*{series}"/>
                <label for="series" class="form__label">Series</label>
            </div>
            <div class="form__group field">
                <input type="file" class="form__field" placeholder="Image" name="imageFile"
                       id='image'/>
                <label for="image" class="form__label">Upload Image</label>
            </div>
            <div class="form__group field">
                <input type="number" class="form__field" placeholder="price" name="price"
                       id='price' th:value="*{price}"/>
                <label for="price" class="form__label">Price</label>
            </div>
            <div class="form__group field">
                <input type="date" class="form__field" placeholder="year" name="year"
                       id='year' th:value="*{year}"/>
                <label for="year" class="form__label">Year</label>
            </div>
            <div class="form__group field">
                <input type="number" class="form__field" placeholder="mileage" name="mileageValue"
                       id='mileage' th:value="*{mileage}" required/>
                <label for="mileage" class="form__label">Mileage</label>
            </div>

            <div class="form__group field">
                <div class = "select">
                    <select id = "condition" name="condition" class = "form__select" aria-describedby="categoryHelpInline">
                        <option value = "" selected disabled>Condition</option>

                        <option th:each="condition : ${T(com.iliyan.autodeluxe.models.enums.Condition).values()}"
                                th:value="${condition}" th:text="${condition}">

                        </option>
                    </select>
                </div>
            </div>

            <div class="form__group field">
                <textarea type="te" class="form__field" placeholder="description" name="description"
                          id='description' th:value="*{description}"> </textarea>
                <label for="description" class="form__label">Description</label>
            </div>

            <button type="submit" href="#" class="register-button btn">Add Car</button>
        </form>
    </div>
</div>

</body>
</html>