<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />

    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <meta charset="UTF-8">
    <title>Home</title>

    <span>
        <span id="navigation-css"></span>
        <link rel="stylesheet" href="/css/styles/style.css">
        <link href="/css/styles/filters-styles.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/09640ec319.js" crossorigin="anonymous"></script>
        <link href="/css/styles/index-page-styles.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles/offer-page-styles.css">
    </span>

    <span>
        <script src="/js/scripts/navigation-script.js" type="module"></script>
    </span>

</head>

<body>

<span th:include = "~{fragments/navbar}"></span>

<span class="main-page">

</span>

<script th:type="module">
    const mainPage = document.querySelector('.main-page');
    const carId = window.location.pathname.split('/').pop();

    fetch(`/api/cars/${carId}`)
        .then(response => response.json())
        .then(car => {
            const html = `
                <div class="main-container">
                    <img src="data:${car.imageType};base64,${car.image}" class="car-offer-image" alt="">
                    <div class = "offer-elements">
                        <div class = "header-container">
                            <h2 class = "offer-header">${car.make} ${car.model} ${car.series}</h2>
                        </div>

                        <div class = "condition-container"><h2 class = "condition">${car.condition}</h2></div>

                        <div class="description-div">
                            <p class="description">
                                ${car.description}
                            </p>
                        </div>
                        <form class = "buy-form" action = "/car/buy-car/${car.id}" method = "POST">
                            <button type = "submit" class = "btn buy-car-btn">Buy Car</button>
                        </form>
                    </div>
                </div>
            `;
            mainPage.innerHTML = html;
            console.log(car)

        })
        .catch(error => console.error(error));
</script>


</body>
</html>