<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
    <head>
        <meta
                name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />

        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
        />

        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        <meta charset="UTF-8">
        <title>Offer</title>

        <span>
            <span id = "navigation-css"></span>
            <link rel="stylesheet" href="/css/styles/style.css" >
            <link href="/css/styles/desktop-pages-with-form-style.css" rel="stylesheet">
            <link href="/css/styles/filters-styles.css" rel="stylesheet">
            <script src="https://kit.fontawesome.com/09640ec319.js" crossorigin="anonymous"></script>
            <link href="/css/styles/index-page-styles.css" rel="stylesheet">
        </span>

        <span>
            <script src="/js/scripts/navigation-script.js" type="module"></script>
        </span>

    </head>

    <body>

    <span th:insert = "~{fragments/navbar}"></span>

    <div th:if = "${@loggedUser.isNotLoggedIn()}" class = "welcome-index-div">
        <img src = "/images/welcome-image.jpg" alt="" class = "welcome-image">
        <center>
            <h1 class = "welcome-header">Welcome to AutoDeluxe!</h1>
            <h3>Please Login</h3>
        </center>
    </div>

    <span th:if = "${@loggedUser.isLoggedIn()}" class="main-page">

            <div class="filter-box">

                <form class="filter-form">
                    <div class="form__group field">
                        <p class="filter-header">Make</p>
                        <div class="select">
                            <select id="make" name="make" class="form__select" aria-describedby="categoryHelpInline">
                                <option value="" selected disabled>Make</option>
                                <option>Ford</option>
                                <option>Chevrolet</option>
                                <option>Peugeot</option>
                                <option>Renault</option>
                                <option>Dodge</option>
                                <option>Toyota</option>
                            </select>
                        </div>
                    </div>

                    <div class="form__group field">
                        <p class="filter-header">Model</p>
                        <div class="select">
                            <select id="model" name="model" class="form__select" aria-describedby="categoryHelpInline">
                                <option value="" selected disabled>Model</option>
                                <option>Fiesta</option>
                                <option>Focus</option>
                                <option>Mustang</option>
                                <option>Camaro</option>
                                <option>Challenger</option>
                                <option>Charger</option>
                                <option>Supra</option>
                                <option>Corolla</option>
                            </select>
                        </div>
                    </div>

                    <div class="form__group field">
                        <input type="date" class="form__field" placeholder="year" name="year"
                               id='year'/>
                        <label for="year" class="form__label">Year</label>
                    </div>

                    <button type="submit" class="filter-button btn">
                        Filter
                    </button>
                </form>

            </div>

            <div class="car-offers">
            </div>
        </span>


    <script th:type="module">
        const offerContainer = document.querySelector('.car-offers');

        offerContainer.addEventListener('click', function(event) {
            const target = event.target;
            if (target.classList.contains('offer-button')) {
                window.location.href = target.getAttribute('href');
            }
        });

        fetch('/api/cars')
            .then(response => response.json())
            .then(data => {
                const html = data.map(car => `
                <div class="offer">
                    <img src="data:${car.imageType};base64,${car.image}" class="offer-image">
                    <h3 class="offer-header">${car.make} ${car.model} ${car.series}</h3>
                    <h3 class="offer-price">${car.price} euro</h3>
                    <h2 class="offer-condition">${car.condition}</h2>
                    <div class = "description-div">
                        <p class="offer-description">${car.description}</p>
                    </div>
                    <div class="offer-button-background">
                        <a href="/car/${car.id}" class="offer-button btn">Go To Offer</a>
                    </div>
                </div>
            `).join('');

                offerContainer.innerHTML = html;
                console.log(data);
            })
            .catch(error => console.error(error));
    </script>

    </body>
</html>