<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
    <head>
        <meta
                name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />

        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
        />

        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        <meta charset="UTF-8">
        <title>Login</title>

        <span>
            <span id = "navigation-css"></span>
            <link rel="stylesheet" href="/css/styles/style.css" >
            <link rel="stylesheet" href="/css/styles/desktop-pages-with-form-style.css" >
        </span>

        <span>
            <script src="/js/scripts/navigation-script.js" type="module"></script>
            <script src="https://kit.fontawesome.com/09640ec319.js" crossorigin="anonymous"></script>
        </span>

    </head>
    <body>

        <div id = "body-background">
        </div>

        <span th:insert = "~{fragments/navbar}"></span>



        <div id = "desktop-main-page" class = "main-page-div">
            <div class = "register-form-container">
                <form th:action = "@{/auth/login}" th:method = "POST" th:object = "${userLoginModel}">
                    <div class = "form-header">
                        <h2>Log In</h2>
                    </div>

                    <div class="form__group field">
                        <input type="text" class="form__field" placeholder="Username" name="username" id='username' th:value="${userLoginModel.username}"/>
                        <label for="username" class="form__label">Username</label>
                    </div>
                    <div class="form__group field">
                        <input type="password" class="form__field" placeholder="Password" name="password" id='password' th:value="${userLoginModel.password}" />
                        <label for="password" class="form__label">Password</label>
                    </div>
                    <button type = "submit" class="register-button btn">Log In</button>
                </form>
            </div>

        </div>

    </body>
</html>