*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    background-color: rgba(26, 29, 36, 0.95);
}
a {
    text-decoration: none;
    color: inherit;
}

#content-container {
    margin-top: 7.4rem;
}

.bg-blur {
    backdrop-filter: blur(10px);
}

.btn {
    cursor: pointer;
}

#body-background {
    background: linear-gradient(-45deg, #11998e,#38ef7d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}